<div class="row">
	<div class="col-md-8 col-md-offset-1">
			<% for i in 1..5 %>
				<div class="row">
				<% for j in 1..5 %>
					<div class="col-md-1 small-square" ondrop="drop(event)" ondragover="allowDrop(event)" id=<%= i.to_s + '-' + j.to_s %>>
						<%= i.to_s + ', ' + j.to_s %>
					</div>
				<% end %>
				</div>
			<% end %>
	</div>
	<div class="col-md-2">
		<table>
			<tr><td>Img1:</td><td id="ze image-dash"></td></tr>
			<tr><td>Img2:</td><td id="ze image2-dash"></td></tr>
		</table>
		<%= image_tag("highguard_construct.png", :id => "ze image", :size => "75", :draggable => "true", :ondragstart =>"drag(event)", "data-toggle" =>"tooltip", "title" => "Huzzzahhhh!") %>
		<%= image_tag("ivory_man-at-arms.png", :id => "ze image2", :size => "75", :draggable => "true", :ondragstart =>"drag(event)", "data-toggle" =>"tooltip", "title" => "God wills it, God wills it!") %>
	</div>
</div>
<br>