<h1>Tactics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tactics.each do |tactic| %>
      <tr>
        <td><%= link_to tactic.title, edit_tactic_path(tactic) %></td>
        <td><%= simple_format(tactic.description) %></td>
        <td><%= link_to 'Destroy', tactic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tactic', new_tactic_path %>
