// Place all the styles related to the simulation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	/*manual change*/
  background-image: image-url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.small-square {
	height: 100px;
	width: 100px;
	outline: 2px solid #ccc;
	border-radius: 10px;
	/*background-color: #0a0;*/
	border: 5px;
}